@import url("https://fonts.googleapis.com/css?family=Montserrat:800");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Montserrat:800");
.btn-login {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400; }

.login-card {
  background-color: rgba(84, 84, 84, 0.8);
  padding: 48px 32px 48px 32px;
  border-radius: 8px; }

.btn-login {
  background-color: #1db954;
  color: #fff;
  font-size: 18px;
  padding: 12px 36px 12px 36px;
  border-radius: 8px; }

.label-title {
  color: #fff;
  font-size: 28px; }

.brand-name {
  font-family: "Montserrat", sans-serif;
  color: #1db954;
  line-height: 0px; }
