@import url("https://fonts.googleapis.com/css?family=Montserrat:800");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Montserrat:800");
.btn-search {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400; }

.btn-search {
  background-color: #1db954;
  color: #fff;
  font-size: 18px;
  padding: 12px 36px 12px 36px;
  border-radius: 8px; }

.search-card {
  background-color: rgba(84, 84, 84, 0.8);
  border-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #fff;
  min-height: 200px; }

.brand-name {
  font-family: "Montserrat", sans-serif;
  color: #1db954;
  line-height: 2px; }

.search {
  color: #fff;
  background: #000;
  border: none;
  outline: none;
  padding: 10px;
  width: 100%;
  font-size: 24px;
  font-family: "Montserrat", sans-serif; }

.search + span {
  display: block;
  border-bottom: solid 3px rgba(255, 255, 255, 0.9);
  width: 0;
  -webkit-transition: width 500ms ease-in-out;
  transition: width 500ms ease-in-out; }

.search:focus + span {
  width: 110%;
  /*  used calc first, but won't work on Edge  */
  -webkit-transition: width 500ms ease-in-out;
  transition: width 500ms ease-in-out; }

.empty {
  color: #fff;
  font-family: "Montserrat", sans-serif; }

.live-now {
  width: 50px;
  transition: 0.5s; }

.live-now:hover {
  width: 55px; }
